{% extends "base.html" %}
{% load static %}


{% block title %}
    {{post.title}}
{% endblock  %}

{% block css_files %}
<link rel="stylesheet" href="{%static "blog/post-detail.css"%}">
{% endblock css_files %}


{% block content %}
{% if comment.errors %}
    <div id= "alert">
        <h2>Saveing The Comment Faild!</h2>
        <p>Pleas check the error below</p>
        <a href="#comment-form">Fix</a>
    </div>
{% endif %}

<section id ="summary">
    <h2>{{post.tittle}}</h2>
    <div>
        {% for tag in tags %}
           <span class="tag">{{tag.caption}}</span>
        {% endfor %}
    </div>
    <div id="read-later">
        <form action="{% url "read-later" %}" method="POST"  >
            {% csrf_token %}
            <input type="hidden" value ="{{post.id}}" name ="post_id">
            <button>
                {% if saved_for_later  %}
                    Remove from read later list 
                {% else %}
                    Read Later
                {% endif %}

            </button>
        </form>
    </div>
    <article>
        <img src="{{post.image.url}}" alt={{post.title}}>
        <address>by<a href="mailto:{{post.author.email_address}}"> {{post.author}} </a></address>
        <div>
            last update on <time> {{post.date| date:"d M Y"}} </time>
        </div>
    </article>
</section>
<main>
    <p>
        {{post.content|linebreaks}}
    </p>
</main>
<section id ="comments"> 
    <ul>
        {% for comment in comments  %}
        <li>
            <h1>{{comment.User_name}} </h1>
            <p>{{comment.text|linebreaks}}</p>
        </li>
        {% endfor %}
    </ul>

</section>

<section id ="comment-form">
    <h2>Your Comment</h2>
    <form action= "{%url "post-detial-page" post.slug%}" method = "POST">
        {% csrf_token %}
        {% for form_field in comment  %}
            <div class="form-control {% if form_field.errors  %} invalid {% endif %}">
                {{form_field.label_tag}}
                {{form_field}}
                {{form_field.errors}}
            </div>
        {% endfor %}
        <button>Save Comment</button>
    </form>
</section>

{% endblock %}