{% extends "base.html" %}
{% load static %}

{% block title  %}
My Stored Posts
{% endblock  %}

{% block css_files %}

<link rel="stylesheet" href="{%static "blog/stored_id.css"%}">
{% endblock css_files %}


{% block content %}
<section id ="stored-posts">
    {% if not has_posts %}
    <p>you didn't save any post for later</p>
    {% endif %}
    <ul>
        {% for post in posts  %}
        <li><a href="{% url "post-detial-page" post.slug %}">{{post.tittle}}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}


